

/*--- h1 (who) { color (what) : blue (value) } ---*/

h1{
color: rgb(25, 209, 223);
text-decoration:underline;
}
h2{
    color: rgb(25, 209, 223);
}
h3{
    color: rgb(25, 209, 223)
}
body{
    background-color:  rgba(250, 250, 250, 0.39);
}
hr{
    background-color:  RGBa(0,0,0,0);
    border-color: rgba(150, 150, 150, 0.39);
    border-style: dotted;
    border-top: none;
    border-width: 5px;
    width: 4%;
}
img{
/*----- img 1:1 -----*/
    height: 200px;
    width: 200px;
}
